<div class="container" id="section-1">
<div class="jumbotron" id="jumbo-red">

	<h1><b>#REALWORK PROJECT</b></h1>
	<h2>Making Real Work Real</h2>
	<%= link_to "Sign Up to Join Our Mission", "https://docs.google.com/forms/d/1YIzPubtUZDkarU1NDPf9NmPB_pnMrj7ozLOxk-4yC5Q/viewform", class: "btn btn-info btn-lg" %> 
	<%= link_to "Submit a #RealWork Project", "https://therealwork.wufoo.com/forms/zu71a9g1m9pmji/", class: "btn btn-primary btn-lg" %> 
	
</div>
</div>

<a name="about"></a>
<div class="container" id="section-2">
<div class="jumbotron" id="jumbo-blue">

	<h1><b>ABOUT</b></h1>
		<p>The world is changing quickly.
		And so is work. Many students don’t have access or visibility into knowledge-economy, high-demand jobs: what these jobs require, what employers are looking for and expecting; and many schools struggle to build the right partnerships with employers.</p>

		<br><p>So how do we prepare for jobs, jobs that never previously existed?</p>
		<br><p><b>We need a new kind work movement.</b> One in which employers, educators and students can come together.</p>
		<br><p>We are crowdsourcing “real-work” projects to share as challenges with educators and students, so they can start learning and tackling the right skills — problem-solving, critical thinking, communication, teamwork, etc. — needed to do real, good work for today's fast-paced jobs.</p>
		<br><p> Please help us by telling us about the work you do at work: your deliverables and assignments, from across all industries. what is real-work for you? is it creating a GTM strategy for a new product? Preparing a P&L statement, scripting and producing a short marketing video, researching a feasibility report? The more specific the details you can provide for the project, the better!</p>
		<br><p>As we build up “projects”, we will open-source them here, for educators and learners to use.</p>
		<br><p>Help contribute your real-work by sharing on <%= link_to "Twitter", "www.twitter.com" %> or filling out our <%= link_to "short form", "https://therealwork.wufoo.com/forms/zu71a9g1m9pmji/" %>.
		</p></p>


		<!--<div class="well" id="well-1">
		<br><p>Everyone SHARES what new skills and projects are required 	 <%= link_to "Share Your Work", "https://therealwork.wufoo.com/forms/zu71a9g1m9pmji/", class: "btn btn-info" %></p>
		<br><p>Educators APPLY these skills in the classroom - <i>Teacher's Guide coming soon!</i></p> </p>
		<br><p>Students LEARN and EXPERIMENT with real work projects</p>
		</div> -->
</div>		
</div>


<a name="submit"></a>
<div class="container" id="section-3">
<div class="jumbotron" id="jumbo-white">
	<h1><b>SUBMIT A PROJECT ON TWITTER</b></h1>
	
	<div class="well">
		<br><p><b>STEP 1:</b></p>
		<p>In 100 words, describe a project that you do at work.<i>
			i.e. “Create analysis of the market”
			i.e. “Create logo”
			i.e. “Write a blog post”</i></p>
	</div>

	<div class="well">
		<br><p><b>STEP 2:</b></p>
		<br><p>Tag the #industry you work in! (see list of industries <%= link_to "here", "https://docs.google.com/spreadsheets/d/1o_-mygpaQlvHNeIfLuVAlICoZcVmLY7w_hbRpskumRc/edit?usp=sharing" %>), & also tag #RealWork on Twitter.</p>
	</div>

	<div class="well">	
		<br><p><b>STEP 3:</b></p>
		<br><p>Post and check out other #RealWork projects on our <%= link_to "Twitter", "https://twitter.com/realworkproject" %>! If you want to include a more detailed form, fill out <%= link_to "here", "https://therealwork.wufoo.com/forms/zu71a9g1m9pmji/" %>.
		</p>
	</div>


</div>		
</div>

<a name="contact"></a>
<div class="container" id="section-4">
<div class="jumbotron" id="jumbo-gray">
	<h1><b>CONTACT</b></h1>
	<h2>Twitter:<%= link_to "@realworkproject", "https://www.twitter.com/realworkproject" %></h2>
	<h2><center>made by <%= link_to "@jerseejess", "https://www.twitter.com/jerseejess" %></p> </p></center></h2>

</div>		
</div>
