<div class="container" id="section-1">
<div class="jumbotron" id="jumbo-red">

	<h1><b>#REALWORK PROJECT</b></h1>
	<p>Making Real Work Real</p>
	 <%= link_to "Your Email Address", "#", class: "btn btn-success btn-lg" %> 
	 <%= link_to "Join Our Mission", "#", class: "btn btn-primary btn-lg" %>
	
</div>
</div>

<div class="container" id="section-2">
<div class="jumbotron" id="jumbo-blue">

	<h1>About  <%= link_to "#RealWork Project", root_path %></h1>
		<p>The world is changing quickly.
		And so is work.
		Work that used to be around no longer is. And on-the-job training no longer exists.</p>

		<br><p>So how do we prepare for jobs? Jobs that never previously existed?</p>
		<br><p>We need a new work movement.</p>
		<br><p>One in which employers, educators and students can get together.</p>

		<br><p>STEP 1: Everyone SHARES what new skills and projects are required 	 <%= link_to "Share Your Work", "#", class: "btn btn-info" %></p>
		<br><p>STEP 2: Educators APPLY these skills in the classroom  <%= link_to "Teacher's Guide Coming Soon", "#", class: "btn btn-info" %></p> </p>
		<br><p>STEP 3: Students EXPERIMENT and LEARN and TRY projects  <%= link_to "Try New Kinds of Work", "#", class: "btn btn-info" %></p> </p>
</div>		
</div>
